/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 21-Oct-2024, 2:56:17 pm
    Author     : rguktrkvalley
*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.contents{
    display: flex;
    
}
.sidebar{
    width: 15vw;
    background: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 25px;
    color : white;
    
}
.sidebar h2{
    margin-bottom :60px ;
    font-size: 2.3rem;
}

.sidebar a{
    margin: 0;
    text-decoration: none;
    color: inherit;
    padding: 10px 0px;
    width: 100%;
    font-family: sans-serif;

}

.sidebar a:hover{
    background: graytext;
    color:white;
    
}

.head{
    position: absolute;
    width: 70vw;
    right:10px;
    top:8px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background: #7c8783;
    padding: 8px 20px;
    
}
.head form{
    display: flex;
    gap: 10px;
}

.head form input{
    width: 200px;
    height: 30px;
    border-radius: 5px; 
    border: none;
}

button{
    border: none;
    border-radius: 5px;
    width: 60px;
    cursor:pointer;
    background: blue;
}
.main{
    width: 85vw;
    height: 90vh;
    align-self: end;
}
.main iframe{
    width : 100%;
    height: 99%;
    border: none;
}
#welcome{
    color:whitesmoke;
    font-family: sans-serif;
}
